<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{!-- <h1>{{title}}</h1> --}}
        {{>header}}
        <img src="./img/14290.jpg" id="myPic">
        {{!-- <p>Created by {{name}}</p> --}}
    </div>

    {{>footer}}
</body>   
</html>