{{!-- What goes inside of here isn't a complete HTML document but instead it's part of a webpage namely the header part --}}

<header>
    <h1>{{title}}</h1>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>